<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fonzi2 Dashboard</title>
  <script src="https://kit.fontawesome.com/ce9bc4dbd7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/rev_dashboard.css">
  <script type="module" src="js/update-uptime.js"></script>
</head>

<body>
  <header>
    <span id="version">Version:<b>
        <%= version %>
      </b></span>
    <a class="invite" href="<%=inviteLink%>">
      <h1><img class="bot-icon round" src="<%=client.user.avatarURL()%>">
        <%= client.user.tag%>
      </h1>
    </a>
    <!-- evil css fake error -->
    <div class="user" style="background-color: <%= userInfo.banner_color %>">
      <img class="user-icon round" src="<%=userInfo.avatar%>" alt="avatar">
      <div>
        <h4><%=userInfo.global_name%></h4>
        <h6><%=userInfo.username%></h6>
      </div>
    </div>
  </header>
  <hr>
  <span>Uptime: <b id="uptime" start=<%=startTime%>></b></span>
  <br>
  <span>Currently part of <b><%=guilds.size%></b> guilds</span>
  <ul>
    <% guilds.forEach((guild)=> { %>
    <li>
      <div class="guild-wrapper">
        <span><%= guild.name %></span>
        <img class="guild-icon round" src="<%=guild.iconURL()%>">
        <span>
          <%= guild.memberCount%> members
        </span>
      </div>
      <div class="chain-wrapper">
        <% if(chains.get(guild.id)) { %>
        <% const analytics = new analyzer(chains.get(guild.id)).getAnalytics()%>
        <span><i class="fa-solid fa-link"></i>Analytics</span>
        <span>Complexity: <b><%= analytics.complexityScore %></b></span>
        <span>Vocabulary: <b><%= analytics.words %></b></span>
        <span>Reply rate: <b><%= analytics.replyRate %></b></span>
        <span>Gifs: <b><%= analytics.gifs %></b></span>
        <span>Videos: <b><%= analytics.videos %></b></span>
        <span>Images: <b><%= analytics.images %></b></span>
        <%} else {%>
        <i class="fa-solid fa-link-slash"></i>
        <%}; %>
      </div>
    </li>
    <% }); %>
  </ul>
</body>

</html>