<header class="flex justify-center">
  <a class="btn btn-ghost h-min flex items-center" href="<%=inviteLink%>">
    <h1 class="flex items-center">
      <img class="h-24 rounded-full mx-4" src="<%=client.user.avatarURL()%>"
          alt="User Avatar">
      <h2 class="text-lg font-semibold"><%= client.user.tag %></h2>
    </h1>
  </a>
</header>
<hr class="my-4">
<div class="m-4">
  <header class="flex justify-between">
    <div class="grid grid-flow-row">
      <span class="text-sm">Uptime: <b id="uptime"
            start="<%=startTime%>"></b></span>
      <span class="text-sm">Currently part of <b><%=guilds.size%></b>
        guilds</span>
    </div>
    <div class="grid grid-flow-row">
      <span class="text-sm">Chains memory usage:
        <b><%=chainsMemUsage%></b></span>
    </div>
  </header>
  <div class="flex flex-wrap justify-between">
    <ul
        class="list-none w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
      <% guilds.forEach((guild) => { %>
      <li
          class="bg-neutral p-2 rounded-md shadow-2xl flex flex-row items-center justify-around">
        <div class="flex flex-col items-center h-full justify-start gap-2">
          <button class="btn btn-neutral text-sm overflow-clip"
              onclick="copyToClipboard('<%=guild.id%>', 'Guild ID')">
            <%= guild.name %>
          </button>
          <img class="rounded-full w-16 shadow-around"
              src="<%=guild.iconURL() ?? 'assets/noimage.svg'%>"
              alt="Guild Icon">
          <div class="flex gap-4 items-center">
            <a class="cursor-pointer" hx-get="/invite?guildId=<%= guild.id %>"
                hx-swap="outerHTML"><i class="fa-solid fa-door-closed"></i></a>
            <span class="overflow-clip text-ellipsis text-xs w-28">
              <%= guild.memberCount %> members
            </span>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <a href="/chain?guildId=<%= guild.id %>"><i
                class="fa-solid fa-link"></i>Analytics</a>
          <div class="grid mt-2 grid-cols-2">
            <% const chain = chains.get(guild.id); %>
            <% if (chain) { %>
            <% const analytics = new MarkovChainAnalyzer(chain).getAnalytics() %>
            <% const analyticsData = [
                  { label: 'Gifs', value: analytics.gifs },
                  { label: 'Vocabulary', value: analytics.words },
                  { label: 'Videos', value: analytics.videos },
                  { label: 'Complexity', value: analytics.complexityScore },
                  { label: 'Images', value: analytics.images },
                  { label: 'Reply rate', value: analytics.replyRate },
                  { label: 'Size', value: analytics.size }
                ]; %>
            <% analyticsData.forEach(data => { %>
            <div class="flex flex-col text-nowrap items-start">
              <span class="text-xs italic"><%= data.label %></span>
              <b class="text-md "><%= data.value %></b>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <i class="fa-solid fa-link-slash"></i>
          <% } %>
        </div>
  </div>
  </li>
  <% }); %>
  </ul>
</div>
</div>

<script type="module" src="js/update-uptime.js"></script>
<script src="js/copyToClipboard.js"></script>
<script src="js/showSnackbar.js"></script>
<div class="hidden toast toast-end">
  <span class="alert alert-success"></span>
  <span class="alert alert-error"></span>
</div>